// Config
@import "./config/_variables";
@import "./config/_reset.scss";

/* Components */
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/modal.scss";
@import "./components/search.scss";
@import "./components/home-anime-info.scss";
@import "./components/comment.scss";

/* Screens */
@import "./screens/auth.scss";
@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/social-login.scss";
@import "./screens/upload-video.scss";
@import "./screens/video-home.scss";
@import "./screens/watch.scss";
@import "./screens/users/edit-profile.scss";
@import "./screens/users/profile.scss";

/* Defaults */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  caret-color: transparent;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: azure;
  &.default-gray {
    background: rgb(249, 249, 249);
    #main-header {
      background: #fff;
    }
    main {
      padding-top: 100px;
    }
  }
}
main {
  padding-top: 75px;
}
textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay.active {
  opacity: 0.5;
  pointer-events: all;
}
@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.message {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  z-index: 999;
  background-color: #a5dafb;
  color: #fff;
  &.error {
    background-color: #e80840;
    color: #fff;
  }
}