div.modal__block
    div.modal__content#modal
        div.modal_header
        div.modal_body
            div.modal_body__title-data-wrapper
                div.modal_body__title-data
                    div.title__cover-img
                    div.title-info
                        h1#title-name
                        p#title-description
                        span.title-info__span
                div#close-modalbox
                    ion-icon(name="close-outline" size="large")
            div.modal_body__character-data-wrapper
                h2 These characters are popular
                div.modal_body__character-data__grid
            div.modal_body__recommend-data-wrapper
                h2 You might like these ones too! (recommendations)
                div.modal_body__recommend-data__grid
