extends ../edit-base

block edit-forms
    if errorMessage
        span=errorMessage
    if loggedInUser.socialOnly
        p You have continued with social login. There is no need to change password.
    else
        form(method="POST")
            div.edit-info-change
                input(placeholder="Old Password", type="password", name="oldPassword").change-info-input
                input(placeholder="New Password", type="password", name="newPassword").change-info-input
                input(placeholder="New Password Confirmation", type="password", name="newPassword1").change-info-input

                input(type="submit", value="Change Password").update-info-btn