extends ../login-base

block contents
    div(class="loginBox__Contents")
        div(class="loginBox__Login-contents")
            if !loggedIn
                form(method="POST")
                    div(class="login-label-input-wrapper")
                        label(for="email") e-mail
                        input(name="email", type="email", id="email", placeholder="XXXX@XXXX", required)
                    div(class="login-label-input-wrapper")
                        label(for="password") password
                        input(name="password", type="password", placeholder="It must be text", id="password", required)
                    input(type="submit", value="Login")
                    if errorMessage
                        div#login-errorMessage
                            span=errorMessage
            if loggedIn
                div#already-login
                    span You're already logged in here.
