extends ../base
include ../mixins/aside-video.pug
include ../mixins/aside-comment.pug

block content
    div#mini-guide
        div#guide-items
            div.guide-list
                ion-icon(name="home")
            div.guide-list
                ion-icon(name="compass-outline")
            div.guide-list
                ion-icon(name="newspaper-outline")
            div.guide-list
                ion-icon(name="play-circle-outline")
            div.guide-list
                ion-icon(name="file-tray-full-outline")
    div.channel-container
        div.profile__data
            img(src=`${user.avatarUrl}`).avatar
            h3=user.username
            div.profile__follow
            div.follow-box
                div
                span
    article.profile-videos-wrapper
        div.profile-home-array
            section.profile-videos
                div.profile-section-title
                    h2 #{user.videos.length} videos
                each videoInfo in user.videos
                    +aside-video(videoInfo)
                else 
                    li Sorry nothing found
            section.profile-comments
                div.profile-section-title
                    h2 #{user.comments.length} comments
                each commentInfo in user.comments
                    +aside-comment(commentInfo)
                else
                    li Sorry nothing found